body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
       background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
}

.servicio {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.servicio:hover {
    transform: scale(1.05);
}

.servicios-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media (max-width: 768px) {

    #servicios {
        grid-template-columns: 1fr;
    }

}

.galeria-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.galeria-contenedor img {
    width: 100%;
    border-radius: 10px;
}

.boton {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

.boton:hover {
    background-color: #444;
}